:root{
   --accent-dark: 0, 255, 255;
   --purple-warmi: #7651EE;
   --pink-warmi: #F85FBF;

}
body{
    font-family: 'Plus Jakarta Sans', sans-serif;
    padding: 0;
    margin: 0;
}
main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
}
.astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
}
h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
}
h2{
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;

}
html{
    
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

.instructions {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
    padding: 1.5rem;
    border-radius: 8px;
}
.instructions code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
}
.instructions strong {
    color: rgb(var(--accent-light));
}
.link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
}

.button-warmi-header {
    display: inline-block;
    padding: 5px 5px;
    height: 50px;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background: rgb(215,91,204);
    background: linear-gradient(90deg, rgba(215,91,204,1) 0%, rgba(118,81,238,1) 100%);
    border: 2px solid #3c3762;
    border-radius: 10px;
    box-shadow: 10px 10px 0px #3c3762;
    transition: all 0.3s ease;
    cursor: pointer;
  }

  .button-warmi-header:hover {
  
    border: 2px solid #3c3762 ;
    box-shadow: 5px 5px 0px #3c3762;
  }

  .button-warmi-header:active {
    box-shadow: none;
    transform: translateY(4px);
  }

