---
import Header from '../components/Header';
import Layout from '../layouts/Layout.astro';

---

<Layout title="Warmi Ventures">
    <Header client:only="react"/>
	<main class="container">
	  <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 lg:gap-[7rem] lg:pt-5 text-center lg:text-left max-w-[1024px] mx-auto">
  		<div class="flex flex-col lg:flex lg:flex-row items-center relative z-0">
  		  <div>
				<h1 class=" text-almost-black text-4xl lg:text-[3rem] lg:leading-[3rem] font-bold">Impulsamos emprendimientos exponenciales de mujeres en Latinoamérica   </h1>
  				<p class="py-5 lg:py-[4rem] lg:text-xl">
					Sé parte de una generación que inspire a más mujeres a ser líderes  y founders de proyectos innovadores
  				</p>
					<button class="text-almost-white bg-almost-black rounded-xl px-5 py-2 border border-almost-black hover:bg-almost-white hover:text-almost-black lg:text-xl lg:py-3 lg:px-8">
  						Conócenos
					</button>
  		  </div>

  		</div>
  		<div class="order-first lg:order-last">
	  		<img class="lg:hidden mb-9"  src="images/image-hero-mobile.png" alt="Hero">
	  		<img class="hidden lg:block"  src="images/image-hero-desktop.png" alt="Hero">
  		</div>
		</div>
	</main>
</Layout>

<style>
	
</style>
