---
interface Props {
  textButton: string;
}
const { textButton }= Astro.props;
---
<button class="button-warmi">{textButton}</button>
<style>
.button-warmi {
  display: inline-block;
  padding: 10px 10px;
  height: 60px;
  width: 50%;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background: rgb(215,91,204);
  background: linear-gradient(90deg, rgba(215,91,204,1) 0%, rgba(118,81,238,1) 100%);
  border: 2px solid #3c3762;
  border-radius: 10px;
  box-shadow: 10px 10px 0px #3c3762;
  transition: all 0.3s ease;
  cursor: pointer;
}

.button-warmi:hover {
 
  border: 2px solid #3c3762 ;
  box-shadow: 5px 5px 0px #3c3762;
}

.button-warmi:active {
  box-shadow: none;
  transform: translateY(4px);
}

</style>
