<!-- ---

---
<section class="container">
    <h2>En Warmi Ventures estamos formando a las próximas <span class="alter-h2">Female Founders</span></h2>


</section>
<style>
    .container{
        background: rgb(208,75,196);
        background: linear-gradient(90deg, rgb(157, 132, 248) 10%, rgb(73, 49, 133) 90%);
        padding: 50px 100px;
        margin: 0 auto;
    }
  
    .container h2{
        color: #fff;
        
    }
    .alter-h2{
        color: #01FABE;
    }

</style>
 -->
<section class="our-mision">
  <h2>
    En Warmi Ventures estamos formando a las próximas <span class="mision-text"
      >Female Founders</span
    >
  </h2>
  <!-- <p class="description">Buscamos democratizar el acceso a emprendedoras a través de capacitación en tecnología, mentoring y networking</p> -->
</section>
<style>
  .our-mision {
    background: rgb(208, 75, 196);
    background: linear-gradient(
      90deg,
      rgba(208, 75, 196, 1) 0%,
      rgba(74, 50, 136, 1) 100%
    );
    padding: 120px 100px;
    margin: 0;
  }

  .our-mision h2 {
    color: #fff;
  }
  .mision-text {
    color: #01fabe;
  }
  .our-mision p {
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
    padding-bottom: 10px;
  }
  @media (max-width: 1000px) {
    .our-mision {
      padding: 50px 100px;
    }
  }
</style>
