---


---
<section class="container">
    <h2>En Warmi Ventures estamos formando a las próximas <span class="alter-h2">Female Founders</span></h2>
   

</section>
<style>
    .container{
        background: rgb(208,75,196);
        background: linear-gradient(90deg, rgba(208,75,196,1) 0%, rgba(74,50,136,1) 100%);
        padding: 100px 50px;
        margin: 0;
    }
  
    .container h2{
        color: #fff;
        margin: 0px 15%;
    }
    .alter-h2{
        color: #01FABE;
    }
    .container p{
        color: #fff;
        font-size: 1.2rem;
        text-align: center;
        padding-bottom: 10px;
       
    }

</style>