---


---
<section class="our-mision">
    <h2>Nuestra <span class="mision-text">Misión</span></h2>
    <p class="description">Buscamos democratizar el acceso a emprendedoras a través de capacitación en tecnología, mentoring y networking</p>

</section>
<style>
    .our-mision{
        background: rgb(208,75,196);
        background: linear-gradient(90deg, rgb(157, 132, 248) 10%, rgb(73, 49, 133) 90%);
        padding: 50px 100px;
        margin: 0;
    }
  
    .our-mision h2{
        color: #fff;
        
    }
    .mision-text{
        color: #01FABE;
    }
    .our-mision p{
        color: #fff;
        font-size: 1.2rem;
        text-align: center;
        padding-bottom: 10px;
       
    }

</style>