---
import Button from '../components/Button.astro'
import Accordion from '../components/Accordion.astro'
---

<section class="how-section">
    <div class="container">   
        <div class="column-left">
            <h2>¿Quieres <br> ayudarnos con <br>  <span class="alter-h2">nuestra causa?</span></h2>
            <p class="description">A través de programas que visibilicen el impacto femenino de la región</p>
            <Button textButton = 'Conoce más'/> 
        </div>
    
        <div class="column-right">
            <div class="video-container">
                <article class="accordion">
                    <section id="module-01">
                        <Accordion title='Female Founder'
                                   content='¿Deseas ser un aliado de nuestra comunidad ? Puedes inscribirte en este '
                                   link = ""/>
                                   
                    </section>
                    <section id="module-02">
                        <Accordion title='Partner'
                                   content='¿Deseas ser un aliado de nuestra comunidad ? Puedes inscribirte en este '
                                   link = ""/>
                    </section>
                    <section id="module-03">
                        <Accordion title='Empresas'
                                   content='¿Deseas ser un aliado de nuestra comunidad ? Puedes inscribirte en este '
                                   link = ""/>
                    </section>
                </article>
            </div>
        </div>
    </div>
</section>

<style>
    .how-section {
        background-color: #fff;
        padding: 100px 100px;
        margin: 0;
        text-align: left;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        gap: 3rem;
    }

    .column-left {
        width: 50%;
        position: sticky;
        top: 100px;
        align-self: flex-start;
    }

    .column-right {
        margin-top: 50px;
        width: auto;
        flex: 2;
    }
  
    .how-section h2 {
        color: #333333;
        text-align: left;
    }
    
    .how-section p {
        color: #575757;
        font-size: 1rem;
        padding-bottom: 10px;
    }

    .alter-h2 {
        color: #C88EFC;
    }
</style>