---
const sponsors = [
  {
    imgurl: "https://placehold.co/300x150",
  },
  {
    imgurl: "https://placehold.co/300x150",
  },
  {
    imgurl: "https://placehold.co/300x150",
  },
  {
    imgurl: "https://placehold.co/300x150",
  },
  {
    imgurl: "https://placehold.co/300x150",
  },
  {
    imgurl: "https://placehold.co/300x150",
  },
  {
    imgurl: "https://placehold.co/300x150",
  },
  {
    imgurl: "https://placehold.co/300x150",
  },
];
---

<section class="section-sponsor">
  <h2 class="title">Con el apoyo de nuestros</h2>
  <h2 class="title t-secondary">comprometidos aliados</h2>
  <div class="wrapper">
    {
      sponsors.map((sponsor) => (
        <div class="item-sponsor">
          <img src={sponsor.imgurl} />
        </div>
      ))
    }
  </div>
</section>
<style>
  .section-sponsor {
    padding: 50px 0;
  }
  .title {
    margin: 10px;
  }

  .t-secondary {
    color: #c88efc;
  }
  .wrapper {
    width: 100%;
    /* background-color: antiquewhite; */
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    margin: 40px auto;
    justify-content: center;
  }

  .item-sponsor {
    background-color: aquamarine;

    img {
      height: 80px;
    }
  }

  @media (min-width: 768px) {
    .wrapper {
      width: 70%;
      gap: 25px;
    }

    .item-sponsor {
      img {
        height: 120px;
      }
    }
  }

  @media (min-width: 1240px) {
    .wrapper {
      width: 60%;
    }
  }
</style>
