---

---

<section class="section-sponsor">
  <h2 class="title">Con el apoyo de nuestros</h2>
  <h2 class="title t-secondary">comprometidos aliados</h2>
  <div class="wrapper">
    <div class="item-sponsor"><img src="#" alt="" /></div>
    <div class="item-sponsor"><img src="#" alt="" /></div>
    <div class="item-sponsor"><img src="#" alt="" /></div>
    <div class="item-sponsor"><img src="#" alt="" /></div>
    <div class="item-sponsor"><img src="#" alt="" /></div>
    <div class="item-sponsor"><img src="#" alt="" /></div>
    <div class="item-sponsor"><img src="#" alt="" /></div>
    <div class="item-sponsor"><img src="#" alt="" /></div>
  </div>
</section>
<style>
  .section-sponsor {
    padding: 50px 0;
  }
  .title {
    margin: 10px;
  }

  .t-secondary {
    color: #c88efc;
  }
  .wrapper {
    width: 80%;
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 200px);
    gap: 15px;
    margin: 40px auto;
  }

  .item-sponsor {
    width: 100%;
    background-color: aquamarine;
  }
</style>
