---
const sponsors = [
  {
    imgurl: "/src/assets/sponsor/red-impacto.png",
  },
  {
    imgurl: "/src/assets/sponsor/kg-apps.png",
  },
  {
    imgurl: "/src/assets/sponsor/red-nacional-laboratorio-pcm.png",
  },
  {
    imgurl: "/src/assets/sponsor/parquetec-mexico.jpg",
  },
  {
    imgurl: "/src/assets/sponsor/impacto-bcp.png",
  },
  {
    imgurl: "/src/assets/sponsor/hubspot.png",
  },
  {
    imgurl: "/src/assets/sponsor/asep.png",
  },
  {
    imgurl: "/src/assets/sponsor/arkangeles.png",
  },
  {
    imgurl: "/src/assets/sponsor/sharecollab.png",
  },
  {
    imgurl: "/src/assets/sponsor/escala.png",
  },
  {
    imgurl: "/src/assets/sponsor/conectores.png",
  },
  {
    imgurl: "/src/assets/sponsor/selina-peru.png",
  },
  {
    imgurl: "/src/assets/sponsor/peru-alumni-ylai.png",
  },
];
---

<section class="section-sponsor">
  <h2 class="title">Con el apoyo de nuestros</h2>
  <h2 class="title t-secondary">comprometidos aliados</h2>
  <div class="wrapper">
    {
      sponsors.map((sponsor) => (
        <div class="item-sponsor">
          <img src={sponsor.imgurl} />
        </div>
      ))
    }
  </div>
</section>
<style>
  .title {
    margin: 10px;
    font-size: 28px;
  }

  .t-secondary {
    color: #c88efc;
    font-size: 28px;
  }
  .wrapper {
    /* background-color: antiquewhite; */
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    margin: 40px auto;
    justify-content: center;
    width: 90%;
  }

  .item-sponsor {
    background-color: aquamarine;

    img {
      height: 100px;
    }
  }

  @media (min-width: 768px) {
    .section-sponsor {
      padding: 30px 0;
    }

    .title {
      font-size: 2.5rem;
    }

    .t-secondary {
      font-size: 2.5rem;
    }
    .wrapper {
      width: 90%;
      gap: 35px;
    }

    .item-sponsor {
      img {
        height: 150px;
      }
    }
  }

  @media (min-width: 1240px) {
    .wrapper {
      max-width: 1300px;
    }

    .item-sponsor {
      img {
        height: 200px;
      }
    }
  }
</style>
